/* Estilos para o cabeçalho */
.header {
background-color: #3c4858;
color: #fff;
padding: 20px;
}


/* Estilos para o menu de navegação */
.menu {
  background-color: #3c4858;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  color: #e9f1f7;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  letter-spacing: 1px;
  background-image: url('icone-menu.png');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
  transition: all 0.3s ease;
  border-radius: 10px;
  display: flex; /* Adicionado */
  justify-content: center; /* Adicionado */
  align-items: center; /* Adicionado */
}

.menu a:hover {
  color: #000;
  background-color: #e9f1f7;
}


/* Estilos para a seção Início */
.inicio {
  background-color: #e9f1f7;
  color: #3c4858;
  padding: 20px;
  text-align: right;
  width: 100%;
}

.inicio h2 {
  font-size: 28px;
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
  text-align: center;
}

.inicio p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: Georgia, serif;
  text-align: justify;
  width: 70%;
  margin: 0 auto;
}

/* Estilos para a seção Sobre */
.sobre {
  background-color: #f2f2f2;
  color: #3c4858;
  padding: 20px;
  text-align: left;
  width: 100%;
}

.sobre h2 {
  font-size: 28px;
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
  text-align: center;
}

.sobre p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: Georgia, serif;
  text-align: justify;
  width: 70%;
  margin: 0 auto;
}

/* Estilos para a seção Meus projetos */
.projetos {
  background-color: #e9f1f7;
  color: #3c4858;
  padding: 20px;
  text-align: right;
  width: 100%;
}

.projetos h2 {
  font-size: 28px;
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
  text-align: center;
}

.projetos p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: Georgia, serif;
  text-align: justify;
  width: 70%;
  margin: 0 auto;
}

/* Estilos para a seção Contato */
.contato {
    background-color: #f2f2f2;
    color: #3c4858;
    padding: 20px;
    text-align: right;
    width: 100%;
}

.contato h2 {
    font-size: 28px;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

.contato p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: Georgia, serif;
    text-align: justify;
    width: 70%;
    margin: 0 auto;
}

/* Estilos para a seção Portfolio */
.portfolio {
    background-color: #e9f1f7;
    color: #3c4858;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.portfolio h2 {
    font-size: 28px;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

.portfolio p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: Georgia, serif;
    text-align: justify;
    width: 70%;
    margin: 0 auto;
}

/* Estilos para o rodapé */
footer {
background-color: #3c4858;
color: #fff;
padding: 20px;
font-size: 14px;
font-family: Arial, sans-serif;
text-align: center;
}

footer a {
color: #fff;
text-decoration: none;
}

/* Remover bordas brancas na página */
body {
margin: 0;
padding: 0;
}